<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <img src="{{user.profile_image_url}}" alt='profile' style="width: 100px; border-radius: 50px; float: right">
    <h1>Hi, {{ user.first_name }}!</h1>
    <h3>Goal: {{ user.get_primary_goal_text() }}</h3>
    <ul>
    {% for goal in goals %}
        {% if goal.is_active %}
            <li>{{goal.__repr__()|safe}}</li>
        {% endif %}    
    {% endfor %}
    </ul>
    <h3>Upcoming Tasks</h3>
    {% if num_tasks == 0 %}
    	<p>You're all caught up!</p>
    {% endif %}
    {% for task in active_tasks %}
    	<p>{{task.__repr__()|safe}}</p>
    {% endfor %}
    <h3>Recently Completed Tasks</h3>
    {% for task in inactive_tasks %}
        <p>{{task.__repr__()|safe}}</p>
    {% endfor %}
    [ <a href="add_task">Add Task</a> | <a href="add_contact">Add Contact</a> ]
{% endblock %}
